@import '../../../../styles/lib';

:host {
  display: grid;
  width: 100%;
  overflow-x: hidden;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "main-navbar main-navbar"
    "router-outlet router-outlet"
    "main-footer main-footer"
  ;

  app-main-navbar { grid-area: main-navbar; }

  .layout-content {
    min-height: 100vh;
    grid-area: router-outlet;
  }

  app-main-footer { grid-area: main-footer; }
}
